[submodule "src/AxamlVS"]
	path = src/AxamlVS
	url = https://github.com/lextudio/AxamlVS.git
[submodule "src/SolutionParser"]
	path = src/SolutionParser
	url = https://github.com/lextudio/SolutionParser/
[submodule "src/MyDesigner"]
	path = src/MyDesigner
	url = https://github.com/lextudio/MyDesigner.git
